@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kode+Mono:wght@400..700&display=swap');

:root {
  --bg-color-1: #1D2021;
  --bg-color-2: #282828;
  --bg-color-3: #3C3836;

  --bs-body-bg: var(--bg-color-1);
  --bs-body-bg-rgb: var(--bs-body-bg-rgb);
  --bs-body-color: var(--fg-color-1);
  --bs-emphasis-color-rgb: var(--fg-color-2);
  --bs-light: var(--fg-color-2);
  --bs-light-rgb: 60,56,54;
  --bs-secondary-bg: var(--bg-color-2);
  --bs-tertiary-bg: var(--bg-color-3);
  --bs-bg-opacity: 1;

  --fg-color-1: #FBF1C7;
  --fg-color-2: #EBDBB2;
  --fg-color-3: #D5C4A1;

  --blue-1: #234B56;
  --blue-2: #458588;
  --blue-3: #83A598;

  --red-1: #CC241D;
  --red-2: #FB4934;

  --green-1: #98971A;
  --green-2: #B8BB26;

  --primary-font: "Kode Mono", monospace;
  --text-font: "Inter", sans-serif;

  --page-margin: 15vw;
  --content-margin: 10vw;

  --bs-body-font-family: 'Kode Mono', monospace;
  --bs-font-monospace: 'Kode Mono', monospace;
}

p, li, span {
  font-family: var(--text-font);
  color: var(--fg-color-3);
  font-size: clamp(1rem, 1.5vw, 2rem);
}

h1,h2,h3,h4,h5 {
  font-family: var(--primary-font);
}

h1 {
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: 200;
  color: var(--fg-color-1)
}

h2 {
  color: var(--fg-color-2);
  font-size: clamp(1.5rem, 2vw, 4rem);
}

h3 {
  color: var(--fg-color-3);
  font-size: clamp(1.25rem, 1vw, 4rem);
}

h4 {
  color: var(--fg-color-3);
  font-size: clamp(1rem, 0.75vw, 2rem);
}

body {
  font-family: var(--bs-body-font-family);
}

* {
  margin: 0;
  padding: 0;
  transition: 200ms;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  text-decoration-color: inherit;
  color: inherit;
  text-align: center;
}

a:visited, a:active, a:enabled {
  color: inherit;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}
